.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.menu-toggle {
  cursor: pointer;
}

@media (max-width: 600px) {
  nav {
    display: none;
  }

  .navigation-menu.open nav {
    display: block;
  }
}

.Navbar-container {
  position: relative;
  border: 1px solid gray;
  background: rgb(252, 252, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Navbar-container a {
  text-decoration: none;
  color: black;
}

.Hamburger {
  position: fixed;
  left: 50px;
  top: -30px;
}
.nav-heading {
  padding: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

@media (max-width: 1000px) {
  .Hamburger {
    position: fixed;
    left: 40px;
    top: 20px;
    z-index: 1;
  }
  .Navbar-container {
    top: -100px;
    left: -1000px;
  }
  .Navbar-container.open {
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    padding: 100px 40px;
    height: 100vh;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
    align-items: flex-start;
    transition: left 0.7s ease-out;
  }
  .Navbar-container a {
    font-size: 15px;
  }
}
